.home {
  margin-top: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
}

.home-fade {
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  transition: all linear 0.5s;
  background-color: lightblue;
  min-height: 100px;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  font-size: 1.5em;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top: -200px;
  left: 200px;
  opacity: 0;
  font-size: .1em;
}

.copyright {
  font-weight: bolder;
}

.result-text {
  margin-top: 10px;
}

.instructions {
  background: #d0e9c6;
  display: block;
  position: relative;

  padding: 8px;
  margin: 15px;
  border: 1px dashed #acc5a2;
  border-radius: 8px;
  color: #000;
}